body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100svh;
  background-color: var(--light-grayish-blue);

  font-family: 'Manrope';
  font-weight: 500;
  font-size: .83rem;
  line-height: 1.5;
  transition: .3s;
}

figure {
  display: block;
  max-width: 90%;
}

main {
  margin: 1rem;
}

article h1 {
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);

  margin-bottom: 1rem;
}

article > div > p {
  color: var(--desaturated-dark-blue);
}

article {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  background-color: var(--white);

  border-radius: .5rem;
  overflow: hidden;
}

article > img {
  object-fit: cover;
  max-width: 100%;
  height: 200px;
}

article > div {
  padding: 1.8rem;
  padding-bottom: 0;
}

article footer {
  position: relative;

  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
}

article .share-container {
  display: none;
}

article .share-container.active {
  display: flex;
  justify-content: start;
  padding: inherit;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: var(--very-dark-grayish-blue);
  color: var(--grayish-blue);
  
  font-size: .95rem;
  letter-spacing: .3rem;
  gap: 1rem;
  text-transform: uppercase;
  opacity: 100;

  transition: opacity .6s ease;
}

article footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article div.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

article div.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

article div.author p {
  font-weight: 700;
}

article div.author time {
  color: var(--grayish-blue);
}

article div.profile-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grayish-blue);
  cursor: pointer;
  
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 1;
  transition: background-color .3s ease;
}

article div.profile-container button:hover,
article div.profile-container button:hover svg path,
article div.profile-container button.active,
article div.profile-container button.active svg path {
  fill: var(--white);
  background-color: var(--desaturated-dark-blue);
  transition: background-color .3s ease;
}

article div.profile-container button.active:hover,
article div.profile-container button.active:hover svg path {
  fill: var(--desaturated-dark-blue);
  background-color: var(--light-grayish-blue);
  transition: background-color .3s ease;
}
